/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */


/*
common css
*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.clr{
    clear: both;
}
ul,ol{
list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:hover{
    text-decoration: none;
}
img{
    vertical-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
a {
    margin: 0;
    padding: 0;
}
body {
  padding-top: 56px;
    font-family: 'Raleway', sans-serif;
}
.transition {
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
}
/*end of the common css*/

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
nav{
    background-color: black;
}
.full-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fec600;
    z-index: 999;
}
.full-menu .navbar-nav .nav-link{
    padding: 15px 10px;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    position: relative;

}
.full-menu .navbar-nav .nav-link:hover {
    color: #fec600;
}
.full-menu .navbar-nav .nav-link::after {
    position: absolute;
    content: "";
    left: 15%;
    top: 99%;
    height: 3px;
    width: 0;
    background-color: #fec600;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
}
.full-menu .navbar-nav .nav-link:hover:after {
    width: 75%;
}
.sticky-menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    border-bottom: 1px solid #080808;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
}
.sticky-menu .navbar-nav .nav-link::after {
    top: 84%;
}
.full-menu .navbar-nav .nav-link.active {
    color: #fec600;
}
/*marquee section*/
.marquee-section {
    background-color: #fec600;
    height: 35px;
}
#latest-news{
    background-color: #F0F0ED;
}
#about-section{
    background-color: #0f74a8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.blog-details{
    font-size: 16px;
    font-weight: 500;
}
